.close {
  width: 30px;
  height: 30px;
  outline: none;
  .close__item {
    display: block;
    background: white;
    height: 2px;
    border-radius: 16px;
  }
  .close__item--1 {
    transform: rotate(45deg);
  }
  .close__item--2 {
    transform: translateY(-2px) rotate(-45deg);
  }
}