.parameters {
  position: absolute;
  top: 0;
  opacity: 0;
  left: -9999px;
  background-color: #e2cbcb;
  width: rem(273px);
  border-radius: 4px;
  transition: opacity 0.3s;
}

.parameters__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(18px) rem(30px);
}

.parameters__item {
  margin-bottom: rem(8px);
  flex: 1;
  display: flex;
  justify-content: space-between;

}
.parameters__icon {
  width: rem(24px);
  height: rem(24px);
  margin-right: rem(16px);
}

.parameters__name {
  flex: 1;
}