.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.contacts__telephone {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contacts__pic {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}