.map-section {
  height: 100%;
  background: url("../../images/jpg/map.jpg") center center no-repeat;
}

.map {
  background: url("../../images/jpg/map.jpg") center center no-repeat;
  height: 100%;
}